
.slide {
    margin: 0px auto;
    width: 100%;
    height: 170px;
    position: relative;
    text-align: center;
}
#slider_shop{
}
.slide > img {
    margin: 0 auto;
    width: 100%;
    height: 180px;
    transition: all , .3s;
}
.slide > img:hover {
    margin: 0 auto;
    width: 100%;

}

#slider_shop .text {
    font-size: 14px;
    color: #445555 !important;
    vertical-align: top;
    font-weight: bold;
    margin: 10px auto;
    width: 100%;
    text-align: center !important;

}

#slider_shop a > .price {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0px;
    font-size: 18px;
    color: #222;
    font-weight: bold;
}

a > .price > span {
    font-size: 15px;
    font-weight: normal;
    color: #555;
}
a > .price > .discount{
    background-color: #c82333 !important;
    text-align: center;
    color: #fff;
    font-weight: normal!important;
    padding: 3px 3px !important;
    padding-top: 5px !important;
    font-size: 13px !important;
    border-radius: 10px!important;
}
a > .price > .price_subline{

    text-decoration: line-through;
}
#slider_shop {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 3px #ddd;
    border-radius: 3px;
    max-width: 1310px;
    margin: 10px auto;
    height: 455px;
    padding: 0px;

}


#slider_shop > .header-title {
    margin: 10px 0px;
    direction: rtl;
    position: relative;

}

#slider_shop > .header-title > .cat-title {
    display: inline-block;
    padding: 5px 20px;
    border:1px solid #fff;
    font-weight: bold;
    margin-right: 20px;
    border-bottom:1px solid #ff9da4;
    font-size: 18px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #555;
}
#slider_shop > .header-title > .line_space{
    display: inline-block;
    width: 10px;
    position: relative;
    z-index: 10;

    padding: 5px 5px;

    margin-right: -6px;
    border:2px solid #fff;
}
#slider_shop > .header-title > .title-line {
    display: inline-block;
    position: absolute;
    left: 5px;
    z-index: 0;
    top: -7px;
    padding-left: 10px;
    width: 90%;
    direction: rtl;
    text-align: right;

    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
    margin-right: 10px;
    padding: 5px 20px;
}
#slider_shop > .header-title > .title-line > a{
    float: left;
    padding: 10px;
    font-size: 12px;

}
#slider_shop > .header-title > .title-line > a > i{

}

#slider_shop ul {
    position: relative;
    padding: 0px 20px;
    width: 96%;

    margin: 0 auto;
    list-style: none;
}

#slider_shop ul li a {
    display: block;

    padding:0px;
    height: 250px;
}

#slider_shop ul li {
    display: inline-block;
    float: left;
    position: relative;
    background-color: #fff;
    margin: 0px;
    margin-bottom: 100px;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 237.5px;
    height: 380px;
    transition:all .5s;
    overflow: hidden;
}

#slider_shop ul li:hover {
    box-shadow: 0px 0px 5px #ddd;
    position: relative;
    margin-top: -5px;

}

#slider_shop ul li .galb {
    position: absolute;
    top: 0px;
    color: #ff5252;
    font-size: 20px;
    left: -50px;
    height: 32px;
    transition: all , .2s;
}
#slider_shop ul li:hover .galb {
    top: 20px;
    left: 20px;
    border-radius: 10px;
}

a#control_prev, a#control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: .7% 1%;
    width: auto;
    background-color: rgba(0, 0, 0, .3);
    border-left: none;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
a#control_prev > i:hover, a#control_next > i:hover{
    color:#777;
}

a#control_prev > i, a#control_next > i {
    font-size: 60px;
    color: #fff !important;
    transition: all , .5s;
}

a#control_prev:hover, a#control_next:hover {

    -webkit-transition: all 0.2s ease;
}

a#control_prev {
    border-radius: 5px;

}

a#control_next {
    left: 0px;
    border-radius: 5px;
}


#slider_shop_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}


/*Styles for screen 600px and lower*/
@media only screen and (max-width: 1200px) {
    .title-line {
        display: none;
    }

    #slider_shop {
        height: 280px;
    }

    #slider_shop ul li {;
        width: 240px;

    }

    .slide > img {
        margin: 0 auto;
        width: 80%;
        height: 100px;
    }
}
@media only screen and (max-width: 450px) {

    #slider_shop > .header-title {
        margin: 10px 0px;
        direction: rtl;
        position: relative;

    }

    #slider_shop > .header-title > .cat-title {
        display: inline-block;
        padding: 5px 20px;
        border:1px solid #fff;
        font-weight: bold;
        margin-right: 20px;
        border-bottom:1px solid #ff9da4;
        font-size: 18px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: #555;
    }
    #slider_shop > .header-title > .line_space{
        display: inline-block;
        width: 10px;
        position: relative;
        z-index: 10;

        padding: 5px 5px;

        margin-right: -6px;
        border:2px solid #fff;
    }
    #slider_shop > .header-title > .title-line {
        display: inline-block;
        position: absolute;
        left: 5px;
        z-index: 0;
        top: -7px;
        padding-left: 10px;
        width: 90%;
        direction: rtl;
        text-align: right;

        border-bottom: 1px solid #ccc;
        vertical-align: bottom;
        margin-right: 10px;
        padding: 5px 20px;
    }
    #slider_shop > .header-title > .title-line > a{
        float: left;
        padding: 10px;
        font-size: 12px;

    }
    #slider_shop > .header-title > .title-line > a > i{

    }
    #slider_shop {
        padding: 0px;
        height: 500px;
    }
    .slide > img {
        margin: 0 auto;
        width: 100%;
        height: 250px;

    }
    #slider_shop ul{
        text-align: center;
        margin: 0 auto;
    }
    #slider_shop ul li {;
        width: 80%;
        margin-left: 40px;
        height: 400px;
        box-shadow:0px 0px 5px #eee ;
        padding: 0px;
    }
    .slide {
        margin: 0px auto;
        width: 100%;
        text-align: center;
        padding: 0px;
        height: 250px;


    }
    .text {
        font-size: 12px;
        margin: 0px auto;
        padding: 0px;

    }
    a > .price {
        font-size: 10px;
        padding: 0px 20px;
    }
    a > .price > .discount{
        font-size: 10px;
        padding: 0px 10px;
        padding-top: 7px;
    }
    a > .price > .price_subline{
        font-size: 20px !important;
    }
    .slide > img:hover {
        margin: 0 auto;
        width: 100%;
        height: 250px;
    }

}
